header{
	background-color: black;
}

ul{
	list-style: none;
	margin: 0;
	padding: 5px;
}

a{
	font-size: 30px;
	padding: 30px;
	color: #E0E0E0;
	text-decoration: none;
}

a:hover{
	color: gray;
	text-decoration: none;
}

li{
	display: inline;
	color:#E0E0E0 ;
}

.silki{
	color:#00ff7f ;
	-webkit-text-stroke: 0.1px black ;
}

@media screen and (max-width: 1200px) {
	
}

.tire{
	color: black;
}

}

@media screen and (max-width: 998px) {
	
}

}

@media screen and (max-width: 768px) {
	
}

}

@media screen and (max-width: 576px) {
	
}
